[submodule "1.1_Log_Output"]
	path = 1.1_Log_Output
	url = https://github.com/andreasZel/devops_with_kubernetes_1_1_Log_Output.git
[submodule "project_server"]
	path = project_server
	url = https://github.com/andreasZel/devops_with_kubernetes_project_server.git
[submodule "devops_with_kubernetes_project_server_configuration"]
	path = devops_with_kubernetes_project_server_configuration
	url = https://github.com/andreasZel/devops_with_kubernetes_project_server_configuration
[submodule "devops_with_kubernetes_DummySite"]
	path = devops_with_kubernetes_DummySite
	url = https://github.com/andreasZel/devops_with_kubernetes_DummySite
